@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=DM+Serif+Display:ital@0;1&display=swap');

:root {
  --max-width: 1100px;
  --background-color: #fffefc;
  --font-color: #67563c;
  
  --light-font-color: #f9ead4;
  --hero-background-color: var(--light-font-color);
  --accent-color: #67563c;
  --shadow-color: rgb(104 86 60 / 40%);

  --gutter: 1.25rem;
  --border-radius: 0.612rem;

  --body-font: 'DM Sans', sans-serif;
  --header-font: 'DM Serif Display', serif;

}


html,body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-family: var(--body-font);
}

* {
  box-sizing: border-box;
}

h1, h2 {
  color: var(--font-color);
  font-family: var(--header-font);
}

.header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--shadow-color);
  padding: var(--gutter);
}

.logo-fill {
  fill: var(--font-color);
}

.restrain {
  padding: calc(var(--gutter) * 8) max(var(--gutter), 50vw - 860px)
}