
#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header {
    box-shadow: 0 0 8px var(--shadow-color);
    padding: var(--gutter);
}

#header-logo svg {
    display: block;
    width: 150px;
    height: 70px;
}

#header-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: var(--gutter);
}

#header-navigation a {
    color: var(--font-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4rem;
}