#hero-content-with-image {
    background-image: url(/anyu-hero-clean.webp);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}

#hero {
    background-color: var(--hero-background-color);
}

#hero-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 75px 0;
}

#hero-content h1,
#hero-content h2 {
    text-align: center;
}

#hero-content h1 {
    font-size: 2.5rem;
}
#hero-content h2 {
    font-size: 2rem;
    text-align: center;
}

#hero-action-buttons-online-order {
    display: flex;
    margin-bottom: calc(var(--gutter) * 2);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.hero-action-buttons-online-order-button {
    background-color: var(--background-color);
    padding: var(--gutter);
    display: block;
    width: 100%;
    color: var(--font-color);
    text-align: center;
    box-shadow: 3px 3px 10px var(--shadow-color);
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
}
.hero-action-buttons-online-order-button:hover span {
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), inset 0 calc(var(--gutter) / 2 * -1) 0 0 var(--hero-background-color);
}
a#hero-action-buttons-facebook-like {
    background-color: #e140a4;
    color: var(--background-color);
}

#hero-secondary-buttons {
    border-radius: var(--border-radius);
    overflow: hidden;
}


@media (max-width: 900px) { 
    #hero-content {
        padding: 0;
        width: auto;
        max-width: 100%;
    }
    #hero-content-with-image {
        display: block;
    }
    #hero {
        
    }
    #hero-content {
        padding: calc(var(--gutter) * 1.5) calc(var(--gutter) * 1.5) calc(var(--gutter) * 1.5) calc(var(--gutter) * 4);
    }
    #hero h1 {
        margin-top: 0;
        font-size: 2rem;
    }
    #hero-content-with-image {
        background-size: auto 100%;
        background-position: -168px bottom;
    }
    #hero-action-buttons-online-order {
        flex-direction: column;
    }
    .hero-action-buttons-online-order-button {
        font-size: 1.2rem;
        padding: calc(var(--gutter) / 1.5);
    }
}